HMAC algorithm option

This should accept either a string (e.g. `sha512`) or a method (e.g. so that an implementation can use a provided `keyId` to retrieve it)

The default option should be a method that extracts the `keyId` from the `Signature` header and uses that to lookup a value (but the lookup can be hardcoded into the method)

Pass `req` and `parseSignatureHeader` into functions in the `constructSignatureString` function as helpers for future developers.

1. should `getAlgorithm` use `req` and `parseSignatureHeader` to parse out the `keyId` itself or is it more efficient to use `parseSignatureString` in `constructSignatureString` (where it is already being used for `getMessage`) and then just pass the `keyId` property to `getAlgorithm`? i.e. How many times do we want to call `parseSignatureString` for each request?
 

2. It looks to me that the `keyId` is intended to identify the algorithm used for the signature but can also be used to select one of multiple secrets registered with the plugin. 

[Section 4.1 states](https://datatracker.ietf.org/doc/html/draft-ietf-httpbis-message-signatures-00#section-4.1): 

>   "keyId"
      REQUIRED.  The "keyId" parameter is a US-ASCII string whose value
      can be used by a verifier to identify and/or obtain the
      signature's "Verification Key Material".  The format and semantics
      of this value are out of scope for this document.

"Verification Key Material" is used in multiple places in the document:

Under [3.3](https://datatracker.ietf.org/doc/html/draft-ietf-httpbis-message-signatures-00#section-3.3).  Verifying a Signature:

> 3.  Use the signature's Algorithm and Verification Key Material with
       the recreated Signing Input to verify the signature value.

In the appendix A example [A.3.2.3.](https://datatracker.ietf.org/doc/html/draft-ietf-httpbis-message-signatures-00#appendix-A.3.2.3):

>    This presents a minimal Signature header for a signature using the
   "rsa-256" algorithm:

>   Signature: algorithm="rsa-256", keyId="test-key-b",
>     headers="date",
>       signature="HtXycCl97RBVkZi66ADKnC9c5eSSlb57GnQ4KFqNZplOpNfxqk62Jz
>           Z484jXgLvoOTRaKfR4hwyxlcyb+BWkVasApQovBSdit9Ml/YmN2IvJDPncrlh
>           PDVDv36Z9/DiSO+RNHD7iLXugdXo1+MGRimW1RmYdenl/ITeb7rjfLZ4b9VNn
>           LFtVWwrjhAiwIqeLjodVImzVc5srrk19HMZNuUejK6I3/MyN3+3U8tIRW4LWz
>           x6ZgGZUaEEP0aBlBkt7Fj0Tt5/P5HNW/Sa/m8smxbOHnwzAJDa10PyjzdIbyw
>           lnWIIWtZKPPsoVoKVopUWEU3TNhpWmaVhFrUL/O6SN3w=="

>   The corresponding signature metadata derived from this header field
   is:

>         +---------------------------+--------------------------+
>         | Property                  | Value                    |
>         +===========================+==========================+
>         | Algorithm                 | "rsa-256"                |
>         +---------------------------+--------------------------+
>         | Covered Content           | "date"                   |
>         +---------------------------+--------------------------+
>         | Creation Time             | Undefined                |
>         +---------------------------+--------------------------+
>         | Expiration Time           | Undefined                |
>         +---------------------------+--------------------------+
>         | Verification Key Material | The public key specified |
>         |                           | in Appendix A.1.1.       |
>         +---------------------------+--------------------------+


How should we handle selecting both the algorithm and the secret using the Signature `keyId`? Should the plugin `secret` property set during registration also be a method that returns a secret based on the `keyId` being passed as a parameter? Or should selecting the algorithm, digest encoding and secret be refactored into a single method?


Similar to getDigest, let's try to keep things simple where possible. The defaults should work for our particular use case, not be compatible with all implementations (thats why we can override the top level methods!)

`getAlgorithm` is a top level, overridable default method, that receives the request object

- it extracts the `algorithm` and `keyId` values from the signature header
- based on those values we do a lookup to determine the what algorithm we need
- this means we need to provide some sort of mapping as an option for the algorithm lookup: 

Something along the lines of:
`hs2019` maps to these algortihms:
- RSASSA-PSS [RFC8017] using SHA-512 [RFC6234]
- HMAC [RFC2104] using SHA-512 [RFC6234]
- ECDSA using curve P-256 [DSS] and SHA-512 [RFC6234]
- Ed25519ph, Ed25519ctx, and Ed25519 [RFC8032]

```js
// This is a required configuration option
const algorithmMap = {
  hs2019: {
    [keyIdA]: 'SHA-512' // HMAC [RFC2104] using SHA-512 [RFC6234] (this could even be a mapping to an implementation of the algorithm)
  } 
}
```
 Once we have all these values, we can pass them back to the caller (the main plugin) and use them to calculate the signature.